DEBUG=False
SECRET_KEY=django-insecure-your-secret-key-here-change-in-production-12345
ALLOWED_HOSTS=localhost,127.0.0.1,backend,foodgram-backend

POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password_secure_123
DB_HOST=db
DB_PORT=5432

DOCKER_USERNAME=your_docker_username
DOCKER_REPO=foodgram_backend